


/* NAVBAR CSS START */

/* mobile  */

@media only screen and (max-width: 767px) {


    menu,
    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 5px;
    }
    .mbhide {
        display: none;
    }
    #icon_mob {
        display: block;
        font-size: 37px;
        padding: 27px 0px;
    }

}



@media only screen and (min-width: 768px) {

    #icon_mob {
        display: none;
    }

    .des_hide{
        display: none;
    }
}

/* NAVBAR CSS END */

/* ALL HEADING TEXT CLASS - START */
.heading-text{
    font-family: 'Montserrat', sans-serif; 
    color: #505050; 
    font-weight: 800; 
    font-size: 140px;
}
/* ALL HEADING TEXT CLASS - END */

/* PARAGRAP START */
    .para{
        font-weight:100; 
        font-family: 'Outfit', sans-serif;
        color: #fff;
        font-size: 132%;
    }
/* PARAGRAP END */

/* CUSTOM BOLD START */
    .csbold{
        font-family: 'Outfit', sans-serif; 
        font-weight: 300; 
        font-size: 200%;
    }
/* CUSTOM BOLD END */

/* NORMAL TEXT START */
    .nmtext{
        font-family: 'Montserrat', sans-serif; 
        font-weight: 100; 
        font-size: 200%;
    }
/* NORMAL TEXT END */
    .tran{
        transition: all .5s ease;
    }