/* NAVBAR CSS START */

/* mobile  */

@media only screen and (max-width: 767px) {


    menu,
    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 5px;
    }
    .mbhide {
        display: none;
    }
    #icon_mob {
        display: block;
        font-size: 37px;
        padding: 27px 0px;
    }

}



@media only screen and (min-width: 768px) {

    #icon_mob {
        display: none;
    }

    .des_hide{
        display: none;
    }
}

/* NAVBAR CSS END */
